.slide-title
	width: 100%
	font-size: 6vw
	font-weight: 100
	display: flex
	flex-direction: column
	justify-content: center
	text-align: center
	margin-bottom: 7vh
	&.white
		color: $white
		width: 95%
	&.left
		text-align: left
		justify-content: flex-start
		font-size: 4vw
