@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')

*
	box-sizing: border-box
	outline: 0 !important
	&::before, &::after
		box-sizing: border-box

html
	font-family: sans-serif
	line-height: 1.15
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	-ms-overflow-style: scrollbar
	-webkit-tap-highlight-color: transparent
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: greyscale
	width: 100%
	height: 100%

@-ms-viewport
	width: device-width

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section
	display: block

.codes
	width: 100%
	height: 80%
	display: flex
	code
		overflow: hidden
		tab-size: 2
		background-color: #272822
		height: 100%
		border-radius: 1vw
		flex: 1
		font-size: 1vw

body
	margin: 0
	font-family: $font-family
	font-size: 1rem
	font-weight: normal
	line-height: 1.5
	color: $grey
	text-align: left
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: greyscale
	width: 100%
	height: 100%
	background-color: $white
	overscroll-behavior: contain

[tabindex="-1"]:focus
	outline: 0 !important

hr
	box-sizing: content-box
	height: 0
	overflow: visible

h1, h2, h3, h4, h5, h6
	margin-top: 0
	margin-bottom: 1rem
	font-weight: 200

h1
	font-size: 3rem
	margin-bottom: 1.5rem

h2
	font-size: 2.5rem
	margin-bottom: 1.75rem

h3
	font-size: 2rem
	margin-bottom: 1rem

h4
	font-size: 1.75rem
	margin-bottom: .85rem

h5
	font-size: 1.5rem
	margin-bottom: .75rem

h6
	font-size: 1.25rem
	margin-bottom: .6rem

p
	margin-top: 0
	font-size: 1rem
	margin-bottom: .5rem

abbr
	&[title], &[data-original-title]
		text-decoration: underline
		-webkit-text-decoration: underline dotted
		text-decoration: underline dotted
		cursor: help
		border-bottom: 0

address
	margin-bottom: 1rem
	font-style: normal
	line-height: inherit

ol, ul, dl
	margin-top: 0
	margin-bottom: 1rem

ol ol, ul ul, ol ul, ul ol
	margin-bottom: 0

dt
	font-weight: 700

dd
	margin-bottom: .5rem
	margin-left: 0

blockquote
	margin: 0 0 1rem

dfn
	font-style: italic

b, strong
	font-weight: bolder

small
	font-size: 80%

sub, sup
	position: relative
	font-size: 75%
	line-height: 0
	vertical-align: baseline

sub
	bottom: -.25em

sup
	top: -.5em

a
	color: $grey
	text-decoration: none
	background-color: transparent
	-webkit-text-decoration-skip: objects
	&:hover
		color: $grey
		text-decoration: underline
	&:not([href]):not([tabindex])
		color: inherit
		text-decoration: none
		&:hover
			color: inherit
			text-decoration: none
		&:focus
			color: inherit
			text-decoration: none
			outline: 0

pre, code, kbd, samp
	font-family: monospace, monospace
	font-size: 1em

pre
	margin-top: 0
	margin-bottom: 1rem
	overflow: auto
	-ms-overflow-style: scrollbar
	white-space: pre-wrap
	word-wrap: break-word

figure
	margin: 0 0 1rem

img
	vertical-align: middle
	border-style: none

svg:not(:root)
	overflow: hidden

table
	border-collapse: collapse

caption
	padding-top: 0.75rem
	padding-bottom: 0.75rem
	color: #6c757d
	text-align: left
	caption-side: bottom

th
	text-align: inherit

label
	display: inline-block
	margin-bottom: 0.5rem

button
	background: transparent
	border: 0
	border-radius: 0
	color: inherit
	cursor: pointer
	&:focus
		outline: 1px dotted
		outline: 5px auto -webkit-focus-ring-color

input, button, select, optgroup, textarea
	margin: 0
	font-family: inherit
	font-size: inherit
	line-height: inherit

button, input
	overflow: visible

button, select
	text-transform: none

button, html [type="button"], [type="reset"], [type="submit"]
	-webkit-appearance: button

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner
	padding: 0
	border-style: none

input
	&[type="radio"], &[type="checkbox"]
		box-sizing: border-box
		padding: 0
	&[type="date"], &[type="time"], &[type="datetime-local"], &[type="month"]
		-webkit-appearance: listbox

textarea
	overflow: auto
	resize: vertical

fieldset
	min-width: 0
	padding: 0
	margin: 0
	border: 0

legend
	display: block
	width: 100%
	max-width: 100%
	padding: 0
	margin-bottom: .5rem
	font-size: 1.5rem
	line-height: inherit
	color: inherit
	white-space: normal

progress
	vertical-align: baseline

[type="number"]
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
		height: auto

[type="search"]
	outline-offset: -2px
	-webkit-appearance: none
	&::-webkit-search-cancel-button, &::-webkit-search-decoration
		-webkit-appearance: none

\::-webkit-file-upload-button
	font: inherit
	-webkit-appearance: button

output
	display: inline-block

summary
	display: list-item
	cursor: pointer

template
	display: none

[hidden]
	display: none !important

// TRANSITIONS
$transition-time:             .6s
$transition-time-ui:          .2s
$transition-ease:             cubic-bezier(0.075, 0.82, 0.165, 1) // EaseOutCirc

.transition
	transition-duration: $transition-time
	transition-timing-function: $transition-ease
	&:before
		transition-duration: $transition-time
		transition-timing-function: $transition-ease
	&:after
		transition-duration: $transition-time
		transition-timing-function: $transition-ease
.transition-ui
	transition-duration: $transition-time-ui
	transition-timing-function: $transition-ease
	&:before
		transition-duration: $transition-time-ui
		transition-timing-function: $transition-ease
	&:after
		transition-duration: $transition-time
		transition-timing-function: $transition-ease
