.slide7
	> .columns
		> .stack
			display: flex
			flex-direction: column
			align-items: center
			padding: 0 2vw
			min-height: 30vh
			> .title
				font-size: 1.5vw
				margin-bottom: 1.5vw
			> img
				width: 70%
				margin-bottom: 20px
