.items
	width: 100%
	.item
		color: rgba($grey, 0.7)
		font-size: 2vw
		margin-bottom: 2vw
		padding-left: 20px
		padding-right: 40px
		position: relative
		&::after
			content: ''
			width: 0.5vw
			height: 0.5vw
			background-color: rgba($grey, 0.2)
			position: absolute
			top: 1vw
			left: 0
	&.small
		.item
			font-size: 1.5vw
			margin-bottom: 1vw
			&::after
				top: 0.75vw
	&.red
		.item
			&::after
				background-color: $red
	&.green
		.item
			&::after
				background-color: $green
	&.yellow
		.item
			&::after
				background-color: $yellow
	&.blue
		.item
			&::after
				background-color: $blue
