.box-color
	position: absolute
	bottom: 0
	height: 5vh
	width: 95%
	z-index: 0
	border-radius: 1vw 1vw 0 0
	&.expanded
		height: 80%
	&.none
		height: 0
	&.red
		background: -moz-linear-gradient(left,  $red-light 0%, $red 100%)
		background: -webkit-linear-gradient(left,  $red-light 0%,$red 100%)
		background: linear-gradient(to right,  $red-light 0%,$red 100%)
	&.green
		background: -moz-linear-gradient(left,  $green-light 0%, $green 100%)
		background: -webkit-linear-gradient(left,  $green-light 0%,$green 100%)
		background: linear-gradient(to right,  $green-light 0%,$green 100%)
	&.yellow
		background: -moz-linear-gradient(left,  $yellow-light 0%, $yellow 100%)
		background: -webkit-linear-gradient(left,  $yellow-light 0%,$yellow 100%)
		background: linear-gradient(to right,  $yellow-light 0%,$yellow 100%)
	&.blue
		background: -moz-linear-gradient(left,  $blue-light 0%, $blue 100%)
		background: -webkit-linear-gradient(left,  $blue-light 0%,$blue 100%)
		background: linear-gradient(to right,  $blue-light 0%,$blue 100%)
