.case-start
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center
	> .columns
		> .image
			> img
				width: 100%
				border-radius: 1vw
				box-shadow: 0 0 20px rgba(black, 0.2)
