.slide1
	.profile
		width: 100%
		margin: 8vh
		display: flex
		> img
			width: 12vw
			height: 12vw
			border-radius: 50%
			border: 0.6vw solid white
			box-shadow: 0 0 20px rgba($grey, 0.2)
			margin: 0 3vw
		> div
			.name
				font-size: 3vw
				margin-bottom: 1.5vw
		&.left
			justify-content: flex-end
