.slide2
	.bullets
		width: 100%
		height: 40vh
		display: flex
		.bullet
			width: 33%
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			padding: 20px
			text-align: center
			> img
				height: 20vh
				margin-bottom: 20px
