.presentation
	width: 100%
	height: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	.content
		position: absolute
		bottom: 0
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		z-index: 1
		padding-bottom: 5vh
		&.expanded
			height: 80%
			padding-top: 5vh
			padding-bottom: 0
		.wrapper
			width: 100%
			height: 100%
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			position: relative
		.columns
			display: flex
			flex-direction: row
			align-items: center
			flex: 1
			width: 100%
			> div
				flex: 1
		.cover
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			padding-top: 5vh
			> img
				width: 30vw
				margin-bottom: 1vh
			> .subtitle
				margin-top: 1vh
				max-width: 40vw
				text-align: center
		.subtitle
			font-size: 2vw
			color: rgba($grey, 0.5)
	.slide
		width: 80vw
		height: 70vh
		display: flex
		position: relative
		flex-direction: column
		justify-content: center
		align-items: center
	.controls
		> button
			width: 20vw
			height: 100vh
			position: absolute
			bottom: 0
			z-index: 2
			&:first-child
				left: 0
			&:last-child
				right: 0

