.slide10
	> .columns
		> .image
			img
				width: 100%
				border-radius: 1vw
				box-shadow: 0 0 20px rgba(black, 0.2)
		> .text
			display: flex
			justify-content: center
			align-items: center
			> div
				width: 80%
				font-size: 2.3vw
				text-align: center
				color: rgba($grey, 0.6)
